<h1>Error 404</h1>
<p class="zoom-area"><b>Page Not Found!</b> </p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>
<div class="link-container">
  <a href="/" class="more-link">Go Back Home</a>
</div>