<h1>About</h1>
<p>Simple NodeJS app to Jot Down Your Ideas</p>
<p>Developed By : <h3>Akash Rajpurohit</h3><br /> 
Visit My youtube Channel : <a href="https://www.youtube.com/TheITGuy">The IT Guy</a>
<br />
Visit My Website : <a href="http://www.codewithitguy.com">CodeWithITGuy</a>
</p>