<div class="jumbotron text-center">
	<h1>About</h1>
	<p>Simple Web App for Jotting Down your Ideas!</p>
	<p>Developed By : <h3>Akash Rajpurohit</h3><br /> 
	Visit My youtube Channel : <a href="https://www.youtube.com/TheITGuy" target="_blank">The IT Guy</a>
	<br />
	Visit My Website : <a href="http://www.codewithitguy.com" target="_blank">CodeWithITGuy</a>
	</p>
</div>