<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">Jot Down Your Ideas</p>
  <a href="/users/login" class="btn btn-dark btn-lg">Login</a>
  <a href="/users/register" class="btn btn-primary btn-lg">Register</a>
</div>