<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">To a place where you can freely add your ideas for work.It can be any article you are thinking to write or maybe your next song lyrics.Just anything you like.<br>Your every idea will be secure with your account</p>
  <h4 class="mb-4">Don't wait more..Signup Right now if you haven't signed up yet</h4>
  <a href="/users/login" class="btn btn-dark btn-lg">Login</a>
  <a href="/users/register" class="btn btn-primary btn-lg">Register</a>
</div>