<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3>An activation Email has been send to the email address {{email}}</h3>
      <h2>Confirm your account first and then try to Login</h2>
    </div>
  </div>
</div>